@model Roll.asoc_personaje_skill

@{
    Layout = "/Views/personajes/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>asoc_personaje_skill</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.usos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.personajes.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.personajes.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.skill.skill_nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.skill.skill_nombre)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_asoc }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
